{% extends "master.html" %}

{% block title %}Spotify Magician — Home{% endblock %}

{% block content %}
{% load static %}
<body>
    <!-- Überschrift und Erklärungstext -->
    <div class="pt=8">
        <h1 class="font-semibold text-xl">Willkommen bei Spotify Magician</h1>
        <p class="mt=8">{% lorem 2 b random %}</p>
    </div>
    <!-- Vorstellung der Funktionen -->
    <div class="mt-12">
        <h1 class="font-semibold text-xl">Wähle deine neue Playlist</h1>
        <div class="grid md:grid-cols-2 gap-10">
            <div class="bg-card rounded-lg overflow-hidden mt-8 shadow-lg hover:bg-card-light hover:shadow-xl">
                <img src="{% static '/img/Favoritenplaylist.jpeg' %}" alt="Bild Favoritenplaylist" class="w-full h-48 sm:h-60 object-cover">
                <div class="m-4">
                    <h2 class="font-medium text-lg">Playlist mit den neuesten Songs deiner Lieblingskünstler</h2>
                    <p>{% lorem 1 b random %}</p>
                </div>
            </div>
            <div class="bg-card rounded-lg overflow-hidden mt-8 shadow-lg hover:bg-card-light hover:shadow-xl">
                <img src="{% static '/img/Joggingplaylist.jpeg' %}" alt="Bild Joggingplaylist" class="w-full h-48 sm:h-60 object-cover">
                <div class="m-4">
                    <h2 class="font-medium text-lg">Jogging Playlist</h2>
                    <p>{% lorem 1 b random %}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="mt-12">
        <h1 class="font-semibold text-xl">FAQ</h1>
        <div class="space-y-12">
            <div class="">
                <h2 class="mt-8 font-medium text-lg">1. Frage</h2>
                <p class="opacity-75">{% lorem 1 b random %}</p>
            </div>
            <div class="">
                <h2 class="mt-8 font-medium text-lg">2. Frage</h2>
                <p class="opacity-75">{% lorem 1 b random %}</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        {% for x in data %}
        <div class="text-black">{{ x }}</div>
        {% endfor %}
    </div>
</body>
{% endblock %}