<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
       <style type="text/tailwindcss"> 
        @theme {
          --color-base: #0d0f17;
          --color-card: #12141f;
          --color-card-light: #1a1d2a;
          --color-border-light: #2a2e3f;
          --color-text-primary: #1d1d1dff;
          --color-text-accent: #cdffbeff;
          --color-image: #746ee3ff;
          --color-accent: #0a9700ff;
          --color-accent-2: #7c3aed;
          --color-success: #22c55e;
          --color-master: #10bd00ff;
        }
    </style>
    <title>{% block title %}Spotify Magician{% endblock %}</title>
</head>
<body>

<!-- ToDo: Aktiven Link anders darstellen; Titel vertikal zentrieren -->
<body class="min-h-screen flex flex-col">
    <header>
        <nav class="bg-master">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
              
              <!-- Header Elemente -->
              <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        
                        <!-- Logo -->
                        <div class="flex flex-shrink-0 items-center">
                            <img class="h-8 w-auto rounded-full" src="{% static '/img/icon.jpeg' %}">
                        </div>

                        <h1 class="text-xl text-text-primary font-bold ml-4 mt-1">Spotify Magician</h1>


                        <!-- Navbar Desktop -->
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <a href="" class="rounded-md px-3 py-2 text-sm font-medium text-text-primary hover:bg-accent hover:text-text-accent">Startseite</a>
                                <a href="" class="rounded-md px-3 py-2 text-sm font-medium text-text-primary hover:bg-accent hover:text-text-accent">Playlist erstellen</a>
                                <a href="" class="rounded-md px-3 py-2 text-sm font-medium text-text-primary hover:bg-accent hover:text-text-accent">Kontakt</a> <!-- Optional, kann auf Impressumsseite verweisen -->  
                            </div>
                        </div>
                    </div>

                    <!-- Button für mobiles Menü -->
                    <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
                        <button id="button" type="button" onclick="menubutton()" class="relative inline-flex items-center justify-center rounded-md p-2 text-text-primary hover:bg-accent hover:text-text-accent focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!-- Icon bei geschlossenem Menü -->
                            <svg id="mobilemenuclosed" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!-- Icon bei geöffnetem Menü -->
                            <svg id="mobilemenuopened" class="hidden h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
       
            <!-- Mobiles Menü -->
            <div id="mobilemenu" class="hidden">
                <div class="space-y-1 px-2 pb-3 pt-2">
                    <a href="" class="block rounded-md px-3 py-2 text-base font-medium text-text-primary hover:bg-accent hover:text-text-accent">Startseite</a>
                    <a href="" class="block rounded-md px-3 py-2 text-base font-medium text-text-primary hover:bg-accent hover:text-text-accent">Playlist erstellen</a>
                    <a href="" class="block rounded-md px-3 py-2 text-base font-medium text-text-primary hover:bg-accent hover:text-text-accent">Kontakt</a> <!-- Optional, siehe oben -->
                </div>
            </div>
        </nav>
    </header>

    <div class="flex-grow"> <!-- Flex grow damit die Seite voll ausgefüllt ist und der Footer am Ende angezeigt wird -->
    {% block content %} 
    {% endblock %}
    </div>

    <!-- Footer mit Link zum Impressum -->
    <footer class="bg-master text-text-primary p-2">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 justify-between gap-4 py-4">
                <div class="flex items-center justify-center space-x-4 text-sm font-semibold text-gray-300 sm:justify-start">
                    <p class="text-sm text-text-primary max-md:text-center">© 2026 www.iu.de Alle Rechte vorbehalten.</p>
                </div>
                <div class="flex items-center justify-center sm:justify-end">
                    <nav>
                        <a href="" class="hover:text-text-accent">Impressum</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
   <script src="{% static '/functions.js' %}"></script>
    </body>
</html>